.scroll-top-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;

  width: 48px;
  height: 48px;

  border-radius: 50%;
  border: none;

  background: #0a66c2;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  cursor: pointer;

  z-index: 99999;

  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.scroll-top-btn:hover {
  transform: translateY(-4px);
  background: #004182;
}